---
- include_vars:
    file: "{{ packages }}"
    name: packages_file

### START APT
# install dirmngr for WSL snap support
- name: Install dirmngr for snap support
  apt:
    name: dirmngr
    state: present
  when:
    - packages_file.snaps is defined
    - ansible_os_family == 'Debian'
    - WSL_LINUX == 'TRUE'
  become: true

# On apt-get target
- name: Add apt keys and repositories
  block:
    - name: Add an apt key by id from a keyserver
      apt_key:
        keyserver: "{{ item.value.keyserver_url }}"
        id: "{{ item.value.keyserver_id }}"
      loop: "{{ packages_file.repositories | default({}) | dict2items }}"
      when:
        - packages_file.repositories is defined
        - item.value.keyserver_url is defined
      become: true

    - name: Add an Apt signing key by url
      apt_key:
        url: "{{ item.value.url }}"
        state: present
      loop: "{{ packages_file.repositories | default({}) | dict2items }}"
      when:
        - packages_file.repositories is defined
        - item.value.url is defined
      become: true

    - name: Add apt repos
      apt_repository:
        repo: "{{ item.value.repository_url }}"
        state: present
      loop: "{{ packages_file.repositories | default({}) | dict2items }}"
      when:
        - packages_file.repositories is defined
      become: true

  rescue:
    - name: Warn about repository setup failure
      debug:
        msg: "Warning: Failed to add some repositories or keys. Continuing with available repositories."

  when: (ansible_os_family == 'Debian')

# apt-get update
- name: apt-get update
  apt:
    update_cache: yes
  when: (ansible_os_family == 'Debian')
  become: true
  
# install packages
- name: Install apt packages
  apt:
    name: "{{ packages_file.packages.installed }}"
    state: present
  when: packages_file.packages.installed is defined and (ansible_os_family == 'Debian')
  become: true

# remove packages
- name: Remove apt packages
  apt:
    name: "{{ packages_file.packages.uninstalled }}"
    state: absent
  when: packages_file.packages.uninstalled is defined and (ansible_os_family == 'Debian')
  become: true
### END APT

### START PACMAN
# install packages
- name: Install pacman packages
  pacman:
    name: "{{ packages_file.packages.installed }}"
    state: present
  when: packages_file.packages.installed is defined and (ansible_os_family == 'Archlinux')
  become: true

# remove packages
- name: Remove pacman packages
  pacman:
    name: "{{ item }}"
    state: absent
  loop: "{{ packages_file.packages.uninstalled | default([]) }}"
  when: packages_file.packages.uninstalled is defined and (ansible_os_family == 'Archlinux')
  become: true
### END PACMAN

### START SNAPS
# install snapd on WSL
- name: Install snapd on WSL
  apt:
    name: snapd
    state: present
  when:
    - packages_file.snaps is defined
    - ansible_os_family == 'Debian'
    - WSL_LINUX == 'TRUE'
  become: true

# start snapd service on WSL
- name: Start and enable snapd service on WSL
  systemd:
    name: snapd
    state: started
    enabled: yes
  when:
    - packages_file.snaps is defined
    - ansible_os_family == 'Debian'
    - WSL_LINUX == 'TRUE'
  become: true

# install snaps
- name: Install snaps
  community.general.snap:
    name: "{{ item.name }}"
    state: present
    classic: "{{ item.classic }}"
  become: true
  loop: "{{ packages_file.snaps.installed | default([]) }}"
  when:
    - packages_file.snaps is defined and (ansible_os_family == 'Debian')

# remove snaps
- name: Remove snaps
  community.general.snap:
    name: "{{ item.name }}"
    state: absent
    classic: "{{ item.classic }}"
  become: true
  loop: "{{ packages_file.snaps.uninstalled | default([]) }}"
  when:
    - packages_file.snaps is defined and (ansible_os_family == 'Debian')
### END SNAPS
