#OPTION                         VALUE                                         DEFAULT
#implementation_type            docker|docker_compose|                         Required    
#docker_image                   'string: image location'                      Required
#docker_ports                   'string: -p port1:port1 -p port2:port2'       defaults to none
#docker_volumes                 'string: -v volume1 -v  volume2'              defaults to none
#desktop_exec                   'string: executable name'                     defaults to key (e.g. firefox:)
#gui_app                        true|false                                    defaults true
#docker_network                 'string: docker network'                      defaults to host
#container_home                 'string: home path in container'              defaults to /home/user
#app_persistent_dir             'string: container path to persist'           defaults to none
#app_persistent_download_dir    'string: container download path persist'     defaults to none
#extra_docker_flags             'string: any extra docker flags'              defaults to none
#docker_sec_comp                true|false                                    defaults to false
#docker_sec_comp_download_url   'string: url to download sec_comp'            defaults to none|required if docker_sec_comp is true
#docker_entrypoint              'string: override docker entrypoint'          defaults to none
#docker_entrypoint_command      'string: run command with docker image'       defaults to none
---
applications:
    asciiquarium:
        implementation_type: docker
        docker_image: gschaetz/fun-and-games:latest
        docker_entrypoint: asciiquarium
        gui_app: false
    awscli-docker:
        implementation_type: docker
        docker_image: gschaetz/awscli:latest
        docker_volumes: -v ~/:/host_drive 
        gui_app: false
        docker_entrypoint: /bin/bash
    chromium:
        implementation_type: docker
        docker_image: gschaetz/browsers:latest
        app_persistent_dir: /home/developer
        app_persistent_download_dir: /home/developer/Downloads
        docker_entrypoint_command: chromium-browser --no-sandbox
        docker_volumes: -v ~/:/host_drive 
    cmatrix:
        implementation_type: docker
        docker_image: gschaetz/fun-and-games:latest
        docker_entrypoint: cmatrix
        gui_app: false
    cool-retro-term:
        implementation_type: docker
        docker_image: gschaetz/fun-and-games:latest
        docker_entrypoint: cool-retro-term
        docker_volumes: -v ~/:/host_drive 
    firefox:
        implementation_type: docker
        docker_image: gschaetz/browsers:latest
        docker_entrypoint: firefox
        app_persistent_dir: /home/developer
        app_persistent_download_dir: /home/developer/Downloads
        docker_volumes: -v ~/:/host_drive 
    iac-docker:
        implementation_type: docker
        docker_image: gschaetz/iac-tooling:latest
        docker_volumes: -v ~/:/host_drive 
        gui_app: false
        docker_entrypoint: /bin/bash
    gimp:
        implementation_type: docker
        docker_image: gschaetz/image-utilities:latest
        docker_entrypoint: gimp
        docker_volumes: -v ~/:/host_drive 
        app_persistent_dir: /home/developer/Pictures
    imagemagick:
        implementation_type: docker
        docker_image: gschaetz/image-utilities:latest
        docker_volumes: -v ~/:/host_drive 
        gui_app: false
        docker_entrypoint: /bin/bash
    python-docker:
        implementation_type: docker
        docker_image: gschaetz/python:latest
        docker_volumes: -v ~/:/host_drive 
        gui_app: false
        docker_entrypoint: /bin/bash
    sl:
        implementation_type: docker
        docker_image: gschaetz/fun-and-games:latest
        docker_entrypoint: sl
        gui_app: false
    zork1:
        implementation_type: docker
        docker_image: gschaetz/fun-and-games:latest
        gui_app: false
        docker_entrypoint_command: ash -c "stty cols $(tput cols) rows $(tput lines) && frotz /home/developer/games/zork/ZORKI"
        app_persistent_dir: /home/developer/games/saves
    zork2:
        implementation_type: docker
        docker_image: gschaetz/fun-and-games:latest
        gui_app: false
        docker_entrypoint_command: ash -c "stty cols $(tput cols) rows $(tput lines) && frotz /home/developer/games/zork/ZORKII"
        app_persistent_dir: /home/developer/games/saves
    zork3:
        implementation_type: docker
        docker_image: gschaetz/fun-and-games:latest
        gui_app: false
        docker_entrypoint_command: ash -c "stty cols $(tput cols) rows $(tput lines) && frotz /home/developer/games/zork/ZORKIII"
        app_persistent_dir: /home/developer/games/saves

