---
- include_vars:
    file: "{{ custom_roles_yaml }}"
    name: customroles_file

- include_vars:
    file: "{{ settings_home }}/{{ item.value.variable_file }}"
  when: item.value.variable_file is defined and item.value.variable_file is not none
  loop: "{{ customroles_file.roles | dict2items }}"

- name: Custom Roles
  include_role:
    name: "{{ custom_roles_dir }}{{ item.value.name }}"
  loop: "{{ customroles_file.roles | dict2items }}"
  when: customroles_file.roles is defined
