{# DEFAULTS #}
{#guiapp#}
{% if item.value.gui_app is defined  %}
{% set guiapp = item.value.gui_app %}
{% else %}
{% set guiapp = true %}
{% endif %}
{#pulseaudio#}
{% if item.value.pulse_audio is defined  %}
{% set pulseaudio = item.value.pulse_audio %}
{% else %}
{% set pulseaudio = false %}
{% endif %}
{#dockernetwork#}
{% if item.value.docker_network is defined  %}
{% set dockernetwork = item.value.docker_network %}
{% else %}
{% set dockernetwork = 'host' %}
{% endif %}
{#sharethemes#}
{% if item.value.share_themes is defined  %}
{% set sharethemes = item.value.share_themes %}
{% else %}
{% set sharethemes = true %}
{% endif %}
{#dockervolumes#}
{% if item.value.docker_volumes is defined  %}
{% set dockervolumes = item.value.docker_volumes %}
{% else %}
{% set dockervolumes = None %}
{% endif %}
{#apppersistentdir#}
{% if item.value.app_persistent_dir is defined  %}
{% set apppersistentdir = item.value.app_persistent_dir %}
{% else %}
{% set apppersistentdir = None %}
{% endif %}
{#apppersistentdownloaddir#}
{% if item.value.app_persistent_download_dir is defined  %}
{% set apppersistentdownloaddir = item.value.app_persistent_download_dir %}
{% else %}
{% set apppersistentdownloaddir = None %}
{% endif %}
{#extradockerflags#}
{% if item.value.extra_docker_flags is defined  %}
{% set extradockerflags = item.value.extra_docker_flags %}
{% else %}
{% set extradockerflags = None %}
{% endif %}
{#dockerports#}
{% if item.value.docker_ports is defined  %}
{% set dockerports = item.value.docker_ports %}
{% else %}
{% set dockerports = None %}
{% endif %}
{#dockerseccomp#}
{% if item.value.docker_sec_comp is defined  %}
{% set dockerseccomp = item.value.docker_sec_comp %}
{% else %}
{% set dockerseccomp = false %}
{% endif %}
{#dockerentrypoint#}
{% if item.value.docker_entrypoint is defined  %}
{% set dockerentrypoint = item.value.docker_entrypoint %}
{% else %}
{% set dockerentrypoint = None %}
{% endif %}
{#container_home#}
{% if item.value.container_home is defined  %}
{% set containerhome = item.value.container_home %}
{% else %}
{% set containerhome = '/home/user' %}
{% endif %}
{#container_home#}
{% if item.value.time_synchronization is defined  %}
{% set timesynchronization = item.value.time_synchronization %}
{% else %}
{% set timesynchronization = true %}
{% endif %}
{#share_host_memory#}
{% if item.value.share_host_memory is defined  %}
{% set sharehostmemory = item.value.share_host_memory %}
{% else %}
{% set sharehostmemory = true %}
{% endif %}
{#snd#}
{% if item.value.snd is defined %}
{% set snd = item.value.snd %}
{% else %}
{% set snd = false %}
{% endif %}
{% if item.value.docker_entrypoint_command is defined  %}
{% set dockerentrypointcommand = item.value.docker_entrypoint_command %}
{% else %}
{% set dockerentrypointcommand = None %}
{% endif %}
{#END DEFAULTS#}

docker pull {{ item.value.docker_image }}
docker rm -f {{ item.key }} 
docker network create {{ dockernetwork }}

docker run \
--name {{ item.key }} \
--rm \
{% if guiapp == true %}
-d \
-v /tmp/.X11-unix:/tmp/.X11-unix \
-e DISPLAY=$DISPLAY \
{% endif %}
{% if guiapp != true %}
-it \
{% endif %}
{% if timesynchronization == true %}
-v /etc/localtime:/etc/localtime:ro \
-v /etc/timezone:/etc/timezone:ro \
-e TZ=$TZ \
{% endif %}
{% if sharehostmemory == true %}
-v /dev/shm/:/dev/shm/ \
{% endif %}
{% if pulseaudio == true %}
-e PULSE_SERVER=unix:/tmp/pulseaudio.socket \
-e PULSE_COOKIE=/tmp/pulseaudio.cookie \
-v /tmp/pulseaudio.socket:/tmp/pulseaudio.socket \
-v /tmp/pulseaudio.client.conf:/etc/pulse/client.conf \
--user $(id -u):$(id -g) \
{% endif %}
{% if snd == true %}
--device /dev/snd \
{% endif %}
{% if sharethemes == true %}
-v /usr/share/themes/:/usr/share/themes/ \
-v ~/.gtkrc-2.0:{{ containerhome }}.gtkrc-2.0 \
{% endif %}
{% if dockervolumes != None %}
{{ dockervolumes }} \
{% endif %}
{% if apppersistentdir != None %}
-v {{ desktop_directory }}persistent/{{ item.key }}:{{ apppersistentdir }} \
{% endif %}
{% if apppersistentdownloaddir != None %}
-v {{ local_home }}/Downloads/:{{ apppersistentdownloaddir }} \
{% endif %}
{% if extradockerflags != None %}
{{ extradockerflags }} \
{% endif %}
{% if dockerports != None %}
{{ dockerports }} \ 
{% endif %}
--net {{ dockernetwork }} \
{% if dockerseccomp == true %}
--security-opt seccomp={{ desktop_dir }}/apps/{{ item.key }}/{{ item.key }}.json \
{% endif %}
{% if dockerentrypoint != None %}
--entrypoint {{ dockerentrypoint }} \
{% endif %}
{% if dockerentrypointcommand != None %}
{{ item.value.docker_image }} \
{{ dockerentrypointcommand }} 
{% else %}
{{ item.value.docker_image }}
{% endif %}

