docker pull {{ item.value.docker_image }}
docker rm -f {{ item.key }} 
docker network create {{ item.value.docker_network }}

docker run \
--name {{ item.key }} \
{% if item.value.gui_app == true %}
-d \
-v /tmp/.X11-unix:/tmp/.X11-unix \
-e DISPLAY=$DISPLAY \
{% endif %}
{% if item.value.gui_app != true %}
-it \
{% endif %}
{% if item.value.pulse_audio == true %}
-e PULSE_SERVER=unix:/tmp/pulseaudio.socket \
-e PULSE_COOKIE=/tmp/pulseaudio.cookie \
-v /tmp/pulseaudio.socket:/tmp/pulseaudio.socket \
-v /tmp/pulseaudio.client.conf:/etc/pulse/client.conf \
--user $(id -u):$(id -g) \
{% endif %}
{% if item.value.pulse_audio != true %}
--device /dev/snd \
{% endif %}
{% if item.value.share_themes == true %}
-v /usr/share/themes/:/usr/share/themes/ \
-v ~/.gtkrc-2.0:{{ item.value.container_home }}.gtkrc-2.0 \
{% endif %}
{% if item.value.docker_volumes != None %}
{{ item.value.docker_volumes }} \
{% endif %}
{% if item.value.app_persistent_dir != None %}
-v {{ desktop_directory }}persistent/{{ item.key }}:{{ item.value.app_persistent_dir }} \
{% endif %}
{% if item.value.app_persistent_download_dir != None %}
-v {{ local_home }}/Downloads/:{{ item.value.app_persistent_download_dir }} \
{% endif %}
{% if item.value.extra_docker_flags != None %}
{{ item.value.extra_docker_flags }} \
{% endif %}
{% if item.value.docker_ports != None %}
{{ item.value.docker_ports }} \ 
{% endif %}
{% if item.value.docker_network != None %}
--net {{ item.value.docker_network }} \
{% endif %}
{% if item.value.docker_sec_comp == true %}
--security-opt seccomp={{ desktop_dir }}/apps/{{ item.key }}/{{ item.key }}.json \
{% endif %}
{% if item.value.docker_entrypoint != None %}
--entrypoint {{ item.value.docker_entrypoint }} \
{% endif %}
{{ item.value.docker_image }}

