[Desktop Entry]
Type=Application
Name={{ item.value.desktop_name }}
Exec={{ desktop_dir }}{{ item.key }}/{{ item.value.desktop_exec }}
Icon={{ desktop_dir }}{{ item.key }}/{{ item.value.desktop_icon }}
Type=Application
