---
- include_vars:
    file: "{{ macos_homebrew }}"
    name: macos_homebrew_config

### TAPS
# Install taps
- community.general.homebrew_tap:
    name: "{{ item }}"
    state: present
  loop: "{{ macos_homebrew_config.tap.installed | default([]) }}"
  when: macos_homebrew_config is defined and item

# Remove taps
- community.general.homebrew_tap:
    name: "{{ item }}"
    state: absent
  loop: "{{ macos_homebrew_config.tap.not_installed | default([]) }}"
  when: macos_homebrew_config is defined and item

### BREWS
# Install brews
- community.general.homebrew:
    name: "{{ item }}"
    state: present
    update_homebrew: true
  loop: "{{ macos_homebrew_config.brew.installed | default([]) }}"
  when: macos_homebrew_config is defined and item

# Remove brews
- community.general.homebrew:
    name: "{{ item }}"
    state: absent
  loop: "{{ macos_homebrew_config.brew.not_installed | default([]) }}"
  when: macos_homebrew_config is defined and item 

### BREW CASKS
# Install brew_cask
- community.general.homebrew_cask:
    name: "{{ item }}"
    state: present
  loop: "{{ macos_homebrew_config.brew_cask.installed | default([]) }}"
  when: macos_homebrew_config is defined

# Remove brew-cask
- community.general.homebrew_cask:
    name: "{{ item }}"
    state: absent
  loop: "{{ macos_homebrew_config.brew_cask.not_installed | default([]) }}"
  when: macos_homebrew_config is defined