---
- include_vars:
    file: "{{ macos_homebrew }}"
    name: mhf

### TAPS
# Install taps
- community.general.homebrew_tap.homebrew_tap: 
    name: "{{ item }}"
    state: present
  loop: "{{ query('list', mhf.tap.installed | default([]) ) }}" 
  when: mhf is defined  and item

# Remove taps
- community.general.homebrew_tap.homebrew_tap: 
    name: "{{ item }}"
    state: absent
  loop: "{{ query('list', mhf.tap.not_installed | default([]) ) }}" 
  when: mhf is defined and item

### BREWS
# Install brews
- community.general.homebrew: 
    name: "{{ item }}"
    state: present
    update_homebrew: true
  loop: "{{ query('list', mhf.brew.installed  | default([]) ) }}" 
  when: mhf is defined and item 

# Remove brews
- community.general.homebrew: 
    name: "{{ item }}"
    state: absent
  loop: "{{ query('list', mhf.brew.not_installed  | default([]) ) }}" 
  when: mhf is defined and item 

### BREW CASKS
# Install brew_cask
- community.general.homebrew_cask: 
    name: "{{ item }}"
    state: present
  loop: "{{ lookup('list', mhf.brew_cask.installed | default([]) ) }}" 
  when: mhf is defined

# Remove brew-cask
- community.general.homebrew_cask:
    name: "{{ item }}"
    state: absent
  loop: "{{ lookup('list', mhf.brew_cask.not_installed | default([]) ) }}" 
  when: mhf is defined