---
- hosts: all
  vars:
    current_path: "{{ lookup('env','PWD') }}"
    local_home: "{{ lookup('env','HOME') }}"
    desktop_home: "{{ lookup('env','HOME_DESKTOP_DIR') | default(local_home,true) }}"

    project_home: "{{ lookup('env','DESKTOP_PROJECT_DIR') | default(current_path,true) }}"
    default_settings_sub: "{{current_path}}/sample-desktop-setup"
    settings_home: "{{ lookup('env','DESKTOP_SETTINGS_DIR') | default(default_settings_sub, true) }}"

    linux_gnome_settings_yaml: "{{ settings_home }}/linux-gnome-settings.yml"     
    linux_packages_yaml: "{{ settings_home }}/linux-packages.yml"

    wsl_packages_yaml: "{{ settings_home }}/wsl-packages.yml"
 
    macos_configure_os_settings_yaml: "{{ settings_home }}/macos-configure-os-settings.yml"     
    macos_brew_yaml: "{{ settings_home }}/macos-brew.yml"

    docker_applications_yaml:  "{{ settings_home }}/docker-applications.yml"
    linux_docker_applications_yaml:  "{{ settings_home }}/linux-docker-applications.yml"
    custom_roles_yaml: "{{ settings_home }}/customroles.yml"

    desktop_directory: "{{ desktop_home }}/.desktop/"

  tasks:
    # LINUX (includes WSL support)
    - include_role:
        name: linux-packages
      when: ansible_facts["system"] == 'Linux'
      vars:
        packages: "{{ wsl_packages_yaml if WSL_LINUX == 'TRUE' else linux_packages_yaml }}"

    # LINUX AND NOT WSL
    - include_role:
        name: linux-install-docker
      when: ansible_facts["system"] == 'Linux' and WSL_LINUX == 'FALSE'
      vars:
        non_root_user: "{{ ansible_facts['user_id'] }}"

    # LINUX AND NOT WSL
    - include_role:
        name: linux-gnome-desktop-settings
      when: ansible_facts["system"] == 'Linux' and WSL_LINUX == 'FALSE'
      vars:
        gnomeSettings: "{{ linux_gnome_settings_yaml }}"
        desktop_dir: "{{ desktop_directory }}"

    # MAC (Darwin)
    - include_role:
        name: macos-homebrew
      when: ansible_facts["system"] == 'Darwin'
      vars:
        macos_homebrew: "{{ macos_brew_yaml }}"
        desktop_dir: "{{ desktop_directory }}"

    # MAC (Darwin)
    - include_role:
        name: macos-configure-os-settings
      when: ansible_facts["system"] == 'Darwin'
      vars:
        macos_settings: "{{ macos_configure_os_settings_yaml }}"
        desktop_dir: "{{ desktop_directory }}"

    # MAC (Darwin) Requires Xquartz and socat
    # OR WSL
    - include_role:
        name: docker-applications
      when: ansible_facts["system"] == 'Darwin' or WSL_LINUX == 'TRUE'
      vars:
        application_setup: "{{ docker_applications_yaml }}"
        desktop_dir: "{{ desktop_directory }}"
        WSL_LINUX: "{{ WSL_LINUX }}"

    # LINUX AND NOT WSL
    - include_role:
        name: docker-applications
      when: ansible_facts["system"] == 'Linux' and WSL_LINUX == 'FALSE'
      vars:
        application_setup: "{{ linux_docker_applications_yaml }}"
        desktop_dir: "{{ desktop_directory }}"
        WSL_LINUX: "{{ WSL_LINUX }}"

    # CUSTOM ROLE
    - include_role: 
        name: custom-roles
      vars:
        custom_roles_dir: "{{ settings_home }}/custom_roles/"